*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #212121;
}

section{
    border: solid 2px whitesmoke;
    width: 500px;
    height: 300px;
    color: #fff;
    background-color: rgb(0, 128, 75);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    place-items: center;
}
.box_respostas{
    width: 80%;
}
.resposta{
    display: flex;
    border-radius: 10px;
    padding: 4px;
}
.resposta:hover{
    cursor: pointer;
    background-color: #292929;
    transition: 0.3s;
}

.button{
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 50%;
    border: solid 1px #e7e4e4;
    color: whitesmoke;
    display: grid;
    place-items: center;
}
.button:hover{
    background-color: rgb(0, 128, 75);
    border-color: #212121;
    cursor: pointer;
}